.scoots_logo {
    width: 130px;
    height: auto;
    border-radius: 50%;
}

.scoots_logo_small {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.heading {
    display: flex;
    margin: auto;
    padding: 10px;
}

.heading a {
    margin: auto;
    font-size: 35px;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.heading h1 {
    margin: 10px;
    font-size: 50px;
    padding: 10px;
    align-content: center;
}

.heading img {
    margin: 10px;
    padding: 10px;
}

.heading .navigation {
    display: none;
}

.heroimage {
    width: 100%;
}

.herowelcome {
    position: absolute;
    top: 190px;
    left: 50px;
    font-size: 70px;
    font-family: "Zeyada", cursive, sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 #menu {
    display: block;
    font-size: 1.5rem;
    border: 0;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #000000;
    color: white;
    position: absolute;
    top: 40px;
    right: 20px;
 }
 
 #menu::before {
    content: "☰";
 }
 
 #menu.open::before {
    content: "X";
 }

 footer {
    text-align: center;
 }

 footer p {
    color: lightslategray;
 }

 .pin_icon {
    width: 20px;
 }