@media screen and (min-width: 1200px) {
    .navigation {
        display: flex;
        margin: auto;
        padding: 10px;
    }
    
    .navigation a {
        margin: auto;
        font-size: 35px;
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    
    .navigation h1 {
        margin: auto;
        font-size: 70px;
        padding: 10px;
    }
    
    .navigation img {
        margin: auto;
        padding: 10px;
    }
    
    .navigation div {
        display: contents;
    }

    .navigation div a {
        margin: auto;
    }
}