@media screen and (min-width: 1000px) {
    .scoots_logo {
        width: 160px;
    }
    
    .scoots_logo_small {
        width: 100px;
    }
    
    .navigation {
        display: flex;
        margin: auto;
        padding: 10px;
    }
    
    .navigation a {
        margin: auto;
        font-size: 35px;
        text-decoration: none;
        color: black;
        padding: 10px;
    }

    #menu {
        display: none;
    }
}