.heroimage {
   width: 100%;
   object-fit: cover;
   transition: opacity 0.5s ease;
}
.fade {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 60%;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.hero_container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
}
.mainandfooter {
   position: absolute;
   top: 80px;
   width: 100%;
   display: grid;
   grid-template-rows: auto auto auto auto;
}

.navigation {
   display: flex;
   background-color: green;
   padding: 10px;
   width: auto;
}
nav {
   width: 100%;
}

body {
   font-family: Trebuchet MS, serif, cambria;
   text-align: center;
}
h1,h2,h3 {
   text-shadow: 1px 5px 10px white;
}
h1 {
   font-size: 45px;
}
main {
   grid-row: 1/4;
   justify-self: center;
   height: auto;
}
.topinfo {
   height: auto;
}
.topcard {
   margin: auto;
   border: 1px solid gray;
   width: 400px;
   height: 270px;
   background-color: rgba(255, 255, 255, 0.644);
   border-radius: 10px;
   margin-top: 5px;
}
.topcard:hover {
   transform: scale(1.025);
   box-shadow: 5px 5px 20px 5px dimgrey;
   transition: .5s;
}
footer {
   background-color: rgb(186, 255, 186);
   bottom: 0;
}
footer a {
   color: black;
   text-decoration: none;
}
footer img {
   width: 30px;
}
footer div {
   padding: 10px;
}
#homeicon2 {
   content: "";
   position: absolute;
   top: 12px;
   left: 12px;
   width: 30px;
}
#icon {
   width: 100px;
   height: 100px;
   justify-self: center;
}
.card {
   display: grid;
   grid-template-rows: auto auto;
   border: 1px solid black;
   padding: 10px;
   margin: 5px;
}
.card img {
   grid-row: 1;
   width: 100%;
   transition: .5s;
   margin: auto;
}
.card_content {
   grid-row: 2;
}
.card img:hover {
   transform: scale(1.05);
   box-shadow: 5px 5px 20px 5px dimgrey;
}
.discover_mainandfooter {
   position: absolute;
   top: 80px;
   width: 100%;
}
.discover_news {
   grid-column: 1/2;
   border: 1px solid black;
   width: auto;
   height: fit-content;
   padding: 10px;
   margin: 10px;
   background-color: #c7c7c794;
}
#discover_visit {
   grid-column: 1/2;
   border: 1px solid black;
   width: auto;
   height: fit-content;
   padding: 10px;
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 10px;
   margin-right: 10px;
   background-color: #c7c7c794;
}
.discover_calendar {
   grid-column: 1/2;
   border: 1px solid black;
   width: auto;
   height: fit-content;
   padding: 10px;
   margin: 10px;
   background-color: #c7c7c794;
}
.discover_main {
   display: grid;
   grid-column: 2/3;
   gap: 10px;
}
#discover_image1 img{
   width: 100%;
   margin: 10px;
   transition: .5s;
}
#discover_image2 img{
   width: 100%;
   margin: 10px;
   transition: .5s;
}
#discover_image3 img{
   width: 100%;
   margin: 10px;
   transition: .5s;
}
#discover_image4 img{
   width: 100%;
   margin: 10px;
   transition: .5s;
}
#discover_image5 img{
   width: 100%;
   margin: 10px;
   transition: .5s;
}
#discover_image6 img{
   width: 100%;
   margin: 10px;
   transition: .5s;
}
#discover_image1 img:hover {
   transform: scale(1.05);
   box-shadow: 5px 5px 20px 5px dimgrey;
}
#discover_image2 img:hover {
   transform: scale(1.05);
   box-shadow: 5px 5px 20px 5px dimgrey;
}
#discover_image3 img:hover {
   transform: scale(1.05);
   box-shadow: 5px 5px 20px 5px dimgrey;
}
#discover_image4 img:hover {
   transform: scale(1.05);
   box-shadow: 5px 5px 20px 5px dimgrey;
}
#discover_image5 img:hover {
   transform: scale(1.05);
   box-shadow: 5px 5px 20px 5px dimgrey;
}
#discover_image6 img:hover {
   transform: scale(1.05);
   box-shadow: 5px 5px 20px 5px dimgrey;
}
.form1 {
   grid-column: 2/3;
   background-color: rgba(255, 255, 255, 0.671);
   padding: 20px;
   margin: 20px;
   border: 1px solid;
   box-shadow: 1px 1px 10px;
   width: 450px;
   margin-left: auto;
   margin-right: auto;
}
label {
   display: block;
   margin-top: 1rem;
}

.smalldesc {
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 10px;
}

input {
   padding: 6px;
   padding-right: 150px;
}

button {
   margin-top: 1rem;
   padding: 5px;
   padding-left: 30px;
   padding-right: 30px;
   font-size: 1rem;
   
}

.req::after {
	font-size: 20px;
	content: "*️";
   color: red;
}
/* -------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	
}

.menu {
	text-align: center;
}

.menu button img {
   width: 40px;
}
.grid {
   margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5px;
	align-items: center;
   justify-items: center;
}

.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
   width: 130px;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

.directorycard {
   background-color: rgba(250, 235, 215, 0.514);
}

.homecard img{
   width: auto;
   height: 150px;
}
.homecard {
   margin: 5px;
   width: 400px;
   height: 250px;
   justify-content: center;
   background-color: rgba(223, 223, 223, 0.562);
   border-radius: 10px;
}

.homecard:hover {
   transform: scale(1.01);
   box-shadow: 5px 5px 10px 5px dimgrey;
}

.banner {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   background-color: #f8d7da;
   color: #721c24;
   padding: 10px;
   text-align: center;
}

.banner p {
   padding: 20px;
   font-size: 20px;
}

#close-banner {
   cursor: pointer;
   background-color: rgb(132, 233, 146);
   padding: 2px;
}
#close-banner:hover {
   transform: scale(1.025);
   box-shadow: 5px 5px 20px 5px dimgrey;
   transition: .5s;
}

#current-temp {
   font-size: 40px;
}

#weather-icon {
   width: 100px;
}

.chamber_logo {
   border-radius: 50%;
   width: 80px;
}

.chamber_logo_big {
   border-radius: 50%;
   width: 200px;
}
.join_us a {
   text-decoration: none;
   color: lightgreen;
   font-size: 24px;
   text-shadow: 0px 0px 20px #ffffff;
}
.join_us {
   position: fixed;
   bottom: 30px;
   right: 30px;
   background-color: #002c14;
   text-decoration: none;
   width: 100px;
   line-height: 100px;
   border-radius: 50%;
   text-align: center;
   cursor: pointer;
   box-shadow: 10px 10px 10px rgb(139, 139, 139);
}
.join_us:hover {
   box-shadow: 5px 5px 8px gray;
   transition: .5s;
   scale: 1.05;
}

.footer_content {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   font-style: italic;
   font-weight: bold;
}

.footer_content span {
   margin: 5px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#menu {
   font-size: 1.5rem;
   border: 0;
   text-decoration: none;
   padding: .5rem .75rem;
   background-color: #003d03;
   color: white;
   position: absolute;
   top: -40px;
   right: 40px;
}

#menu::before {
   content: "☰";
}

#menu.open::before {
   content: "X";
}

.navigation {
   display: flex;
   flex-direction: row;
   list-style: none;
   margin: auto;
   width: 100%;
}

.navigation a {
   display: none;
   padding: .75rem;
   text-decoration: none;
   color: white;
   font-weight: 700;
   transition: 0.5s;
   font-size: 22px;
   text-align: center;
}

.navigation a:hover {
   color: #023300;
   text-shadow: 0 0 10px lightgreen;
}

.open a {
   display: block;
}

.list .directorycard {
   
}