.heroimage {
   width: 100%;

}

.navigation {
   display: flex;
   background-color: green;
}

ul {
   display: flex;
   list-style-type: none;
   justify-content: space-around;
   width: 100%;
}
a:hover {
   background-color: lightgreen;
   color: rgb(0, 56, 129);
}
li {

}
li a {
   color: rgb(135, 250, 196);
   text-decoration: none;
   font-size: 25px;
}

body {
   font-family: girassol, serif, cambria;
}

footer {
   background-color: mediumspringgreen;
   height: 50px;
   text-align: center;
   padding-top: 20px;
}

footer a {
   color: black;
   text-decoration: none;
}

#homeicon2 {
   content: "";
   position: absolute;
   top: 12px;
   left: 12px;
   width: 40px;
}

body {
   
}