@media screen and (min-width: 1000px) {
   .discover_grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 10px;
      width: auto;
   }
   
   .discover_news {
      grid-column: 1/2;
      border: 1px solid black;
      width: auto;
      height: fit-content;
      padding: 10px;
      margin: 10px;
      grid-row: 1;
   }
   
   .discover_demo {
      grid-column: 1/2;
      border: 1px solid black;
      width: auto;
      height: 200px;
      padding: 10px;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      margin-right: 10px;
      grid-row: 2;
   }
   
   .discover_calendar {
      grid-column: 1/2;
      border: 1px solid black;
      width: auto;
      height: fit-content;
      padding: 10px;
      margin: 10px;
      grid-row: 3;
   }
   
   .discover_main {
      display: grid;
      grid-column: 2/3;
      grid-row: 1/7;
      gap: 10px;
   }
   
   #discover_image1 img{
      width: 100%;
      margin: 10px;
   }
   #discover_image2 img{
      width: 100%;
      margin: 10px;
   }
   #discover_image3 img{
      width: 100%;
      margin: 10px;
   }
   #discover_image4 img{
      width: 100%;
      margin: 10px;
   }
   #discover_image5 img{
      width: 100%;
      margin: 10px;
   }
   #discover_image6 img{
      width: 100%;
      margin: 10px;
   }

   .card img{
      width: auto;
      height: 250px;
   }
   .card {
      width: 460px;
      float:left ;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 10px;
      
   }
   #icon {
      width: 100px;
      height: 100px;
   }
   .mainandfooter {
      width: 100%;
      display: grid;
      grid-template-rows: auto auto;
   }
   .info {
      display: grid;
      grid-template-rows: auto auto auto;
      justify-items: center;
   }
   .topinfo {
      grid-row: 1/2;
      width: 100%;
      display: flex;
      justify-content: center;
   }
   .topcard {
      border: 1px solid gray;
      width: 400px;
      height: 270px;
      background-color: rgba(255, 255, 255, 0.637);
      border-radius: 10px;
   }
   #membersplotlights {
      grid-row: 2/3;
   }
   .spotlights {
      width: 100%;
      grid-row: 3/4;
      height: auto;
   }
   .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   main {
      grid-row: 1/4;
   }

   .homecard img{
      width: auto;
      height: 150px;
   }
   .homecard {
      margin: 5px;
      width: 400px;
      height: 250px;
      float:left ;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 10px;
   }

   .banner {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #f8d7da;
      color: #721c24;
      padding: 10px;
      text-align: center;
   }
   .banner p {
      padding: 20px;
      font-size: 20px;
   }
  
   #close-banner {
      cursor: pointer;
      background-color: rgb(132, 233, 146);
      padding: 2px;
   }
}