body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    height: 150px;
    background-color: rgb(255, 204, 0);
}



.hamburger {
    display: block;
    color: white;
}

#main_menu.show {
    display: flex;
}

#main-menu {
    display: none;
    flex-direction: column;
}



nav {
    left: 0px;
    height: auto;
    background-color: #332cb4;
    width:auto;
    font-size: 18px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    padding: 5px 0px;
    display: block;
    color: #FFF;
    text-align: center;
}

img {
    width: 100px;
    padding-top: 20px;
    padding-left: 30%;
    float:inline-start;
}

h1 {
    padding-left: 45%;
    padding-top: 50px;
}

main {
    max-width: 800px;
    margin: auto;
    display: grid;
    gap: 10px;
}

h2 {
    text-align: center;
    border-bottom: solid #332cb4;
}

.card {
    padding: 2px;
    border: 1px solid #aaaaaa;
    box-shadow: 0 0 20px;
}

.card ul {
    list-style: none;
}

.card p {
    text-align: center;
}

.card img {
    width: 500px;
}

h3 {
    background-color: rgb(121, 32, 205);
    color: white;
    padding: 10px;
    margin-block: 0;
    text-align: center;
}

footer img {
    width: 60px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #332cb4;
    color: white;
    text-align: center;
}

footer p {
    padding: 20px;
}