body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    margin-top: 0;
    padding-top: 0;
    height: 130px;
    background-color: rgb(255, 204, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    /*animation-name: banner;
    animation-duration: 4s;*/
}

/*
@keyframes banner {
    from {background-color: rgb(255, 204, 0);}
    to {background-color: #332cb4;}
}*/

/*----------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#menu {
    font-size: 1.5rem;
    border: 0;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #332cb4;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}


.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: auto;
    width: 100%;
    /*animation-name: navigation;
    animation-duration: 4s;*/
}

/*
@keyframes navigation {
    from {background-color: rgb(121, 32, 205);}
    to {background-color: rgb(255, 204, 0);}
}*/

.navigation a {
    display: none;
    padding: .75rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: 22px;
    text-align: center;
}

.navigation a:hover {
    color: #332cb4;
    background-color: #aea5ff;
}

.open a {
    display: block;
}

/*----------------------------------------------------------------------*/

nav {
    background-color: #332cb4;
    width: auto;
    font-size: 18px;
    text-align: center;
    /*animation-name: h3;
    animation-duration: 4s;*/
}

/*
@keyframes h3 {
    from {background-color: rgb(121, 32, 205);}
    to {background-color: rgb(255, 204, 0);}
}*/


nav ul {
    display: none;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    padding: 5px 0px;
    display: block;
    color: #FFF;
    text-align: center;
}

#myimage {
    box-shadow: 0 0 20px;
    width: 90px;
    border: 2px solid #332cb4;
    margin: 5px;
    grid-column: 1/2;
    align-self: center;
    justify-self: right;
}

h1 {
    align-self: center;
    grid-column: 2/3;
}

.hero {
    margin: 5px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
}

.hero img {
    width: 600px;
    height: 500px;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#e2e2e2cc, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;

}

.herolabel p {
    margin: 0;
    padding: .2rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ffffff;
    font-family: "Great Vibes", cursive, 'Arial Narrow Bold', sans-serif;
}

main {
    max-width: 800px;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-rows: auto 100px auto auto 430px;
}

h2 {
    text-align: center;
    border-bottom: solid #332cb4;
}

.card {
    padding: 2px;
    border: 1px solid #aaaaaa;
    box-shadow: 0 0 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.card ul {
    list-style: none;
}

.card ul li {
    padding: 2px;
}

.card p {
    text-align: center;
}

.card img {
    width: 500px;
}

h3 {
    background-color: rgb(121, 32, 205);
    color: white;
    padding: 10px;
    margin-block: 0;
    text-align: center;
}

#map {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer img {
    width: 60px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #332cb4;
    color: white;
    text-align: center;
}

footer p {
    padding-top: 20px;

}

a:hover {
    color: #aea5ff;
}