@media screen and (min-width: 750px) {
    nav ul{
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        grid-template-rows: 310px 420px;
    }
    #menu {
        display: none;
    }

    /*
    #main_menu {
        display:flex;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
  
    #main_menu li {
        margin-right: 20px;
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }
    */

    .card {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    #map {
        grid-column: 1/3;
    }
}