@media screen and (min-width: 750px) {
    nav ul{
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    #main-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
  
    #main-menu li {
        margin-right: 20px;
    }
  
    .hamburger {
        display: none;
        cursor: pointer;
    }
}